/* Name : Nawaraj Subedi
 * Date : 9/27/2015
 * Professor : Dr Lon Smith
 */

body {
font-family: Georgia;
font-size: 100%;
background-image:url(images/background-pattern.png);
border:solid; 
margin: 2em;
padding:2em 2em 0em 2em;
border-color: #5E9188;

}

header{
	background-image:url(images/header-background.jpg);
	background-repeat: repeat;
}
h1{
	padding-left: 6em;
}
h2{
	font-size: 18px;
}
h3{
	font-size: 18px;
	font-size: 1.125em;
	color: white;
	border-bottom: solid 5pt white;
	background-image:url(images/header-background.png);
	margin: 0em 0 0 .5em 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: center;
}
#mainMenu{
	background-color: #283649;
	font-size: 14px;
	font-size: 0.856em;
	text-align: right;
	padding-right: 6em;
	
}
#secondaryMenu{
	background-color: #DAE1E8;
	font-size: 16px;
	font-size: 1em;
	padding-left: 6em;
}
nav ul li{
	list-style: none;
	display: inline;
	margin-right: 7px;
	
}
a:visited {
	color: gray;
}
a:hover{
	background-color:red;
}

p{
	font-size: 16px;
	font-size: 1em;
}
a:link{
	color: blue;
}
nav {
	padding: 0.25em;
}
nav a {
	padding: 0.2em;
}


#mainMenu{
	text-align: right;
	padding-right: 5em;
	
}
#secondaryMenu{
	background-color: #DAE1E8;
	font-size: 16px;
	font-size: 1em;
	padding-left: 6em;
}
nav ul li{
	list-style: none;
	display: inline;
	margin-right: 7px;
	
}

article>div {
	background-color: white;
	text-align: left;
	padding-left:6em;
}
article>div img{
	border: solid 1px #999999;
	padding: 0.5em;
	margin-top:1em;
}
article>div figcaption {
	margin-left:10em;
}


#mainContact {
	padding: 3em;
	
	
}
#informationContact
{
	padding: 3em;
	margin: -28em 3em 15em 55em;
	border: solid;
}
 
article>section {
	background-color:white;
	border: solid 1pt;
	border-color:black;
	margin-top: -1em;
	padding: 1em;
}
a[href^="mailto"] {
background: url(images/email.png) no-repeat 0 3px;
padding-left: 1em;
}
a[href^="tel"] {
background: url(images/call.png) no-repeat 0 3px;
padding-left: 1em;
}
em{
	font-weight: bold;
}
footer {
	border:solid;
	margin:4em 0em 0em -1em;
	color:white;
	padding:0.25em;
background-color: #383649;
}